<h3>Detail</h3>
<div>
	<p>{{item.nombre}}</a>
</div>
<!-- <div ng-repeat="item in list"> -->
<!-- 	<a href="/#/{{item.id}}">{{item.nombre}}</a> -->
<!-- 	<p>{{item.autor}}</p> -->
<!-- </div> -->

<!-- <h3>New test</h3> -->
<!-- <div> -->
<!--     <div> -->
<!--         <label for="id">id</label> -->
<!--         <input id="id" ng-model="form.id"/> -->
<!--     </div> -->
<!--     <div> -->
<!--         <label for="nombre">nombre</label> -->
<!--         <input id="nombre" ng-model="form.nombre"/> -->
<!--     </div> -->
<!--     <div> -->
<!--         <label for="autor">autor</label> -->
<!--         <input id="autor" ng-model="form.autor"/> -->
<!--     </div> -->
<!--     <div> -->
<!--         <label for="anyo_publicacion">año publicacion</label> -->
<!--         <input id="anyo_publicacion" ng-model="form.anyo_publicacion"/> -->
<!--     </div> -->
    
<!--     <button ng-click="save()">Save</button> -->
    
<!--     <br> -->
<!--     <div> -->
<!--         <label for="nombreSearch">Filtro</label> -->
<!--         <input id="nombreSearch" ng-model="buscar.nombreSearch"/> -->
<!--     </div> -->
<!--     <button ng-click="search()">Filtrar</button> -->
    
<!-- </div> -->